<div padding>
  <ion-segment [(ngModel)]="mode">
    <ion-segment-button value="global">
      Todos Jogadores
    </ion-segment-button>
    <ion-segment-button value="team">
      Equipe
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="mode">
  <ion-list *ngSwitchCase="'global'">
    <div padding *ngIf="messages">
      <div class="message" *ngFor="let message of messages | async" [class.you]="message.user==user">
        <div class="user">{{ message.user }}</div>
        <div class="text">{{ message.text }}</div>
      </div>
    </div>
    <ion-footer>
      <ion-item>
        <ion-input [(ngModel)]="input.message" name="message" placeholder="Digite a mensagem" ></ion-input>
        <button ion-button large clear (click)="sendMessage()" item-end>
          <ion-icon name="md-send"></ion-icon>
        </button>
      </ion-item>
    </ion-footer>
  </ion-list>

  <ion-list *ngSwitchCase="team">
    
  </ion-list>
</div>