page-home {
    .message{
        background-color: color($colors, secondary);
        padding: 12px 16px;
        border-radius: 4px;
        color: #FFF;
        margin-bottom: 8px;
        text-align: left;
        float: left;
        clear: both;
        .user{
            margin-bottom: 4px;
            font-size: 1.8rem;
        }
    }
    .you{
        background-color: color($colors, primary);
        text-align: right;
        float: right;
        clear: both;
        .user{
            display: none;
        }
    }
}
